AmeliaBlume/Saved/Autosaves/Game/Maps/Example_Map_Auto1.umap
AmeliaBlume/Intermediate/Build/ActionHistory.bin
AmeliaBlume/Intermediate/Build/Win64/AmeliaBlumeEditor/DependencyCache.bin
AmeliaBlume/Intermediate/Build/Win64/AmeliaBlumeEditor/Development/UE4Editor-AmeliaBlume.exp
AmeliaBlume/Intermediate/CachedAssetRegistry.bin
*.sdf
AmeliaBlume/Intermediate/
AmeliaBlume/Binaries/
AmeliaBlume/DerivedDataCache/
AmeliaBlume/Saved/